section {
    width: 95vw;
    margin: 0 auto;    
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

#main-info {
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-right: 2vw;
}

.clickable {
    cursor: pointer;
    transition: 0.2s;
}


.cerrar {
    color: red;
}



h2 {
    font-size: 2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    width: 90%;
    margin-bottom: 1vh;
    border-bottom: 1px solid black;
}

h3 {
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    width: 50%;
    margin-bottom: 0.5vh;
}

.perfil {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    width: 85%;

    margin: 0 5%;
}

.icono {
    width: 2.5vw;
    cursor: pointer;
    transition: 0.2s;
}


.info {
    display: flex;
    flex-direction: column;

    gap: 3vh;

    width: 50%;
    height: 100%;
}

.caja {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;

    width: 50%;
    height: 1vh;
    border: 1px solid black;
    padding: 2vh;
    border-radius: 60px;

    background: white;
    transition: 0.5s;
}

input {
    width: 100%;
    height: 90%;
    padding: 1%;
    border: 0;
    outline: none;
    font-size: larger;   
    background: white;
    transition: 0.5s;
}

.error {
    font-weight: bolder;
    color: red;
    margin-top: 10px;
}

.success {
    font-weight: bolder;
    color: rgb(48, 138, 25);
    margin-top: 10px;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 20vh;
}

.boton {
    background: #D1E7A8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    border-radius: 20px;
    border: 1px solid black;
    padding: 1% 2%;
    cursor: pointer;
    transition: 0.5s;

    width: 100%;
}

.cancelar {
    background-color: #ee7272;
    transition: 0.5s;
  }


.boton-seguir {
    background: #D1E7A8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    border: 1px solid black;
    padding: 1% 2%;
    cursor: pointer;
    transition: 0.5s;

    margin-left: 5vw;
    width: 10vw;
}

.red {
    background-color: #ee7272;
}

.openModal {
    cursor: pointer;
}


.seguidores-perfil {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.col > :first-child {
    font-weight: bold;
}

.imagen {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 40%;
    height: 100%;
}

.foto {
    border-radius: 50%;
    background-color: grey;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}

p {
    font-size: 1.25vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 80;
    width: 100%;
    color: black;
    margin-bottom: 1vh;
}

.rutas {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5vh;
}

.ruta {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50vh;
    border-radius: 60px;
    justify-self: center;
    align-self: center;

    cursor: pointer;
    transition: 
        scale 0.3s ease-in,
        opacity 0.3s ease-in,
        filter 0.3s ease-in;

    &:hover {
        scale: 1.1;
    }
}

/*.ruta:hover {
    transition: 0.5s;
    width: 110%;
    height: 55vh;
}*/

.botRutas {
    position: absolute;
    top: 0;
    right: 5%;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;
}

#nombre-caja {
    position: absolute;
    bottom: 15%;
    left: 10%;

    width: 80%;
}

#nombre {
    color: white;
    font-size: 2vw;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Mostrar ... al final si se desborda */
}

#ubi {
    position: absolute;
    bottom: 10%;
    left: 12%;

    color: white;
    font-size: 1.5vw;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

#kmFecha {
    position: absolute;
    bottom: 2%;
    left: 12%;

    color: white;
    font-size: 1.5vw;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

@media (min-width: 769px) {
    .clickable:hover {
        font-size: 1.4vw;
        transition: 0.2s;
        color: black;
    }

    .cerrar:hover {
        font-size: 1.4vw;
        transition: 0.2s;
        color: red;
    }

    .icono:hover {
        transition: 0.2s;
        width: 3vw;
    }

    .cancelar:hover {
        background-color: #743838;
        color: white;
        transition: 0.5s;
      }
    
    .enviar:hover, .boton-seguir:hover {
        background-color: #738a48;
        color: white;
        transition: 0.5s;
    }

    .rutas:has(.ruta:hover) .ruta:not(:hover){
        scale: 1;
        opacity: 0.9;
        filter: blur(4px);
    }

    .red:hover {
        background-color: #c24343;
        transition: 0.5s;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    h3, h2 {
        font-size: 4vw;
    }

    .icono {
        margin-left: 1rem;
        width: 6vw;
    }

    .boton-seguir {
        font-size: 2.5vw;
        width: auto;
        padding: 0.5rem 1rem;
    }

    p {
        font-size: 3vw;
    }

    .info {
        gap: 1vh;
    }

    .foto {
        width: 35vw;
        height: 35vw;
    }

    .caja {
        width: 20vw;
    }

    input {
        font-size: 3vw;
    }

    .password {
        width: 30vw;
    }

    .botones {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 15vh;
        right: 10vw;
        gap: 2vw;

        width: 30vw;
    }

    .boton {
        font-size: 2.5vw;
        padding: 0.25rem 0.5rem;
    }

    .rutas {
        gap: 3vw;
        margin: 0 auto;
        padding: 0;
    }

    .ruta {
        width: 27vw;
        height: 27vw;
    }

    #nombre, #ubi, #kmFecha {
        color: black;
        font-size: 2.25vw;

        -webkit-text-stroke-width: 0px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #image {
        border-radius: 10px;
    }

    .botRutas {
        position: absolute;
        top: 1vh;
        right: 5%;
        height: auto;
        width: auto;
    }
}

@media (max-width: 480px) {
    h3, h2 {
        font-size: 4vw;
    }

    .icono {
        margin-left: 1rem;
        width: 6vw;
    }

    .boton-seguir {
        font-size: 2.5vw;
        width: auto;
        padding: 0.5rem 1rem;
    }

    p {
        font-size: 3vw;
    }

    .info {
        gap: 1vh;
    }

    .foto {
        width: 35vw;
        height: 35vw;
    }

    .caja {
        width: 20vw;
    }

    input {
        font-size: 3vw;
    }

    .password {
        width: 30vw;
    }

    .botones {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 15vh;
        right: 10vw;
        gap: 2vw;

        width: 30vw;
    }

    .boton {
        font-size: 2.5vw;
        padding: 0.25rem 0.5rem;
    }

    .rutas {
        gap: 3vw;
        margin: 0 auto;
        padding: 0;
    }

    .ruta {
        width: 27vw;
        height: 27vw;
    }

    #nombre, #ubi, #kmFecha {
        color: black;
        font-size: 2.25vw;

        -webkit-text-stroke-width: 0px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #image {
        border-radius: 10px;
    }

    .botRutas {
        position: absolute;
        top: 1vh;
        right: 5%;
        height: auto;
        width: auto;
    }
}