<section>
    <div id="main-info">
        <h2>{{dataMap['name']}}</h2>
        <p class="hide-info">Ubicación: {{dataMap['ubication']}}</p>
        <p class="hide-info">Km: {{dataMap['km']}}</p>
    </div>
    <div class="seccion">
        <div id="map-grafica" [class.expanded]="slides.length === 0">
            @if (gpxData) {
                <app-map [file]="'./assets/'+routeJSON['gpx']" 
                        [dataMap]="dataMap" 
                        [gpxData]="gpxData" 
                        [type]="0" 
                        [pointHovered]="pointHovered"
                        (dataMapOut)="receiveDataMap($event)" 
                        (elevationProfileOut)="receiveElevationProfile($event)" id="map">
                </app-map>
            
                <app-grafica id="grafica" [gpxData]="gpxData" [elevationProfile]="elevationProfile"  (pointHovered)="onPointHovered($event)"></app-grafica>
            }
        </div>
        @if (slides.length != 0) {
            <div id="image-primaria">
                <img class="imagen" src="{{selectedImage}}" alt="Logotipo">
                <ngx-slick-carousel class="carousel" 
                            #slickModal="slick-carousel" 
                            [config]="slideConfig" 
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
                    @for (slide of slides; track slide) {
                        <div (click)="selectImage(slide)" ngxSlickItem class="slide">
                            <img class="carouselImg" src="{{ slide }}" alt="">
                        </div>
                    }
                </ngx-slick-carousel>
                <button class="arrow left" (click)="slickModal.slickPrev()">Atrás</button>
                <button class="arrow right" (click)="slickModal.slickNext()">Siguiente</button>
            </div>
        }
    </div>
    <div id="main-info">
        <h2>INFORMACIÓN</h2>
    </div>
    <!-- INFORMACION -->
    <div class="seccion info">
        <div class="column-info">
            <p>Descripción: </p>
            <p>{{dataMap['description']}}</p>
        </div>
        <div class="column-info">
            <p>Ubicación: </p>
            <p>{{dataMap['ubication']}}</p>
        </div>
        <!--Aqui se pueden añadir tantos bloques de información como sean necesarios, siguiendo el siguiente esquema-->
        <!--
        <div class="column">
            <p>Valoración: </p>
            <p>{{dataMap['description']}}</p>
        </div>
        -->
    </div>
    <!-- ESTADÍSTICAS -->
    <div id="main-info">
        <h2>TABLA ESTADÍSTICA</h2>
        <p class="hide-info">{{dataMap['name']}}</p>
    </div>
    <div class="seccion tabla" id="tabla-seccion">
        <div class="row">
            <div class="column">
                <p class="statistics">KM:<br> {{dataMap['km']}}</p>
            </div>
            <div class="column">
                <p class="statistics">Tiempo estimado:<br> {{hour}} h {{min}} min</p>
            </div>
            <div class="column">
                <p class="statistics">Velocidad media:<br> {{dataMap['speed']}} km/h</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="statisticsSecund">Altitud mínima: {{dataMap['minAltitude']}} metros</p>
            </div>
            <div class="column">
                <p class="statisticsSecund">Altitud máxima: {{dataMap['maxAltitude']}} metros</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="statisticsSecund">Desnivel negativo: {{dataMap['des_neg']}} metros</p>
            </div>
            <div class="column">
                <p class="statisticsSecund">Desnivel positivo: {{dataMap['des_pos']}} metros</p>
            </div>
        </div>
    </div>
</section>