<nav>
    <div class="logotipo">
        <a routerLink="myFeed" class="logo">
            <img src="../../assets/images/localizador-de-mapas.png" alt="Logotipo">
        </a>
        <a routerLink="myFeed" class="title-logo">
            <h1 class="title">{{title.toUpperCase()}}</h1>
            <p class="slogan">Comparte rutas con otros senderistas</p>
        </a>
    </div>
    <ul class="menu">
        <div class="buscador">
            <img class="lupa" src="../../assets/images/lupa.png">
            <div class="buscador">
                <p>Buscar caminos . . .</p>
            </div>
        </div>
        <li><a routerLink="myFeed">FEED</a></li>
        <li><a routerLink="myFeed">MIS RUTAS</a></li>
        <li>
            <img class="perfil" src="../../assets/images/92938495.jpeg">
        </li>
    </ul>
</nav>