section {
    width: 95vw;
    margin: 0 auto;    
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

#main-info {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

h2 {
    font-size: 2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    width: 100%;
    margin-bottom: 1vh;
    cursor: pointer;
    transition: font-weight 1s;
}

.bold {
    font-weight: bold;
}

#perfilUsuario {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

#usuario {
    width: 95vw;
}

h3 {
    font-size: 1.25vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    width: 60%;
    margin-bottom: 4vh;
    border-bottom: 1px solid black;
}

.perfil {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border: 0.5px solid;
    border-radius: 50%;
    background-color: grey;
    transition: 0.5s;
}

#ruta {
    display: flex;
    flex-direction: row;
    height: 80%;
}

#datos-texto {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10vh;
    justify-content: center;
}

#datos-texto > p {
    margin-left: 5vh;
}

p {
    font-size: 1.25vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    width: 60%;
}

a {
    font-size: 1.25vw;
    text-decoration: none;
    transition: 0.2s;
    color: black;
}

#image-primaria {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    border-radius: 60px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

#image-primaria > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;
}

#map {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 65vh;
}


.filter-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.filter-header .arrow {
    width: 10px;
    height: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.arrow.up {
    transform: rotate(180deg);
}

.arrow.down {
    transform: rotate(0deg);
}

.filter-content {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding: 0 10px;
    border-top: 1px solid transparent;
    background-color: #fff;
}

.filter-content.open {
    height: auto;
    padding: 10px;
    border-top-color: #ddd;
}

    

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 20%;
    top: 34%;
    left: 12%;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.map-overlay input {
    margin: 2px;
}

input[type=number] {
    width: 25%
}

#filter-result {
    font-size: 8px;
    font-family: "Courier New";
}

.busca {
    width: 80%;

    align-self: center;
    gap: 0vh;
}

.buscadores {
    display: flex;
    flex-direction: row;

    width: 100%;
    align-items: flex-start;
    justify-content: baseline;
}

.busca-rutas {
    width: 60%;
}

.busca-usuarios {
    width: 40%;
}

.title {
    height: 4vh;
    margin: 0;
    margin-left: 2vw;
}

@media (min-width: 769px) {
    .perfil:hover {
        width: 6vw;
        height: 6vw;
        transition: 1s;
    }

    a:hover {
        font-size: 1.5vw;
        transition: 0.2s;
        color: black;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    h2 {
        font-size: 3vw;
    }   
}

@media (max-width: 480px) {
    #main-info {
        margin-left: 0;
    }

    h2 {
        font-size: 4vw;
    }   

    .nombre {
        font-size: 4vw;
    }

    a {
        font-size: 3vw;
    }

    p {
        font-size: 3vw;
    }

    .perfil {
        width: 12vw;
        height: 12vw;
    }

    #ruta {
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: center;
        align-items: center;
    }

    #datos-texto {
        flex-direction: row;
        margin-left: 0;
        width: 80%;
        align-items: center;
        height: 5vh;
    }

    #image-primaria {
        width: 80vw;
        height: 40vh;
        border: 1px solid black;
        border-radius: 60px;

        margin: 1rem 0;
        margin-left: 0;
        padding: 0;

        justify-self: center;
        align-self: center;
        cursor: pointer;
    }

    #map {
        display: flex;
        margin: 0 auto;
        width: 90vw;
        height: 60vh;
        margin-top: 8vh;
        margin-left: 0;
    }

    .map-overlay {
        position: absolute;
        width: 20%;
        top: 15vh;
        left: 7vh;
        padding: 10px;
    }

    .filter-header {
        display: flex;
        justify-content: center;
    }

    .map-overlay-inner {
        width: 60vw;
    }

    .titulo {
        display: none;
    }

    .buscadores {
        flex-direction: column;
        margin-left: 0;
        gap: 2vh;
    }

    .busca-rutas, .busca-usuarios {
        width: 70vw;
    }
}