<section>
    <div id="main-info">
        @if (url == privacy) {
            <h2>TÉRMINOS DE PRIVACIDAD</h2>                
        }
        @else if (url == service) {
            <h2>TÉRMINOS DE SERVICIO</h2>
        }
        @else if (url == data) {
            <h2>POLÍTICA DE USO DE DATOS</h2>
        }
    </div>
    <div class="seccion">
        <div class="contenedor">
            @if (url == privacy) {
                <p>Fecha de vigencia: 2024</p>

                <h3>Introducción</h3>
                <p>En SendaDigital, respetamos su privacidad y nos comprometemos a proteger sus datos personales. 
                    Esta Política de Privacidad describe cómo recopilamos, utilizamos y compartimos su información cuando usa nuestra red social.</p>
                <h3>Información que recopilamos</h3>
                <p>Recopilamos las siguientes categorías de información:</p>

                <ul>
                    <li>Correo electrónico: Utilizado para identificar su cuenta y enviarle notificaciones importantes.</li>
                    <li>Nombre: Utilizado para mostrar su identidad en la plataforma.</li>
                    <li>Imágenes: Imágenes que decida compartir en su perfil o publicaciones.</li>
                </ul>
                <h3>Uso de la información</h3>
                <p>Utilizamos la información recopilada para:</p>

                <ul>
                    <li>Permitir su acceso y uso de la plataforma.</li>
                    <li>Mostrar su nombre e imágenes en la red social.</li>
                    <li>Mejorar la experiencia del usuario.</li>
                </ul>
                <h3>Almacenamiento y protección de datos</h3>
                <p>Sus datos se almacenan en la nube en una base de datos MySQL. Las contraseñas se encriptan para 
                    garantizar su seguridad. Utilizamos medidas de seguridad técnicas y organizativas para proteger su información personal.</p>
                <h3>Compartición de datos</h3>
                <p>Los datos compartidos en la plataforma se limitan a su nombre e imágenes, los cuales se muestran en su perfil y publicaciones. 
                    No compartimos su correo electrónico ni otra información personal con terceros.</p>
                <h3>Derechos del usuario</h3>
                <p>Usted tiene derecho a acceder, rectificar y modificar sus datos personales directamente a través de la plataforma. Si desea eliminar su cuenta
                    o tiene alguna pregunta sobre sus datos, puede ponerse en contacto con nosotros en SendaDigitalTFG&#64;gmail.com.</p>
                <h3>Cookies</h3>
                <p> SendaDigital no utiliza cookies para recoger información de las personas usuarias, ni registra las direcciones IP de acceso. Únicamente se utilizan cookies propias, de sesión, con finalidad técnica (aquellas que permiten la navegación a través del sitio web y la utilización de las diferentes opciones y servicios que en ella existen).
                     Estas cookies son esenciales para el funcionamiento de la plataforma.</p>
                <h3>Actualizaciones de la Política de Privacidad</h3>
                <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. 
                    Le notificaremos sobre cualquier cambio enviando un correo electrónico a la dirección que nos proporcionó.</p>
                <h3>Contacto</h3>
                <p>Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad, comuníquese con nosotros en SendaDigitalTFG&#64;gmail.com.</p>
                <h3>Jurisdicción</h3>
                <p>Esta política se rige por las leyes de España.</p>
            }
            @else if (url == service) {
                <p>Fecha de vigencia: 2024</p>

                <h3>Introducción</h3>

                <p>Bienvenido a SendaDigital. Al acceder o utilizar nuestra plataforma, usted acepta estar sujeto a estos Términos de Servicio. 
                    Si no está de acuerdo con estos términos, no debe utilizar la plataforma.</p>

                <h3>Uso de la plataforma</h3>
                <p>SendaDigital es una red social donde los usuarios pueden compartir imágenes y conectarse con otros. 
                    Al utilizar la plataforma, usted acepta:</p>

                <ul>
                    <li>No publicar contenido ofensivo, ilegal o que infrinja los derechos de otros.</li>
                    <li>No usar la plataforma para acosar, amenazar o perjudicar a otros usuarios.</li>
                </ul>

                <h3>Suspensión de la cuenta</h3>
                <p>SendaDigita se reserva el derecho de suspender o cancelar su cuenta si violamos estos Términos de Servicio, 
                    particularmente si se involucra en actividades inapropiadas como las mencionadas anteriormente.</p>

                <h3>Modificaciones a los términos</h3>

                <p>Podemos modificar estos Términos de Servicio en cualquier momento. 
                    Le notificaremos de cualquier cambio significativo mediante un correo electrónico.</p>

                <h3>Contacto</h3>

                <p>Para cualquier pregunta o inquietud sobre estos Términos de Servicio, comuníquese con nosotros en SendaDigitalTFG&#64;gmail.com.</p>

                <h3>Jurisdicción</h3>

                <p>Estos términos se rigen por las leyes de España.</p>
            }
            @else if (url == data) {
                <p>Fecha de vigencia: 2024</p>

                <h3>Introducción</h3>
                <p>En SendaDigital, estamos comprometidos con la transparencia sobre cómo recopilamos y utilizamos sus datos. Esta Política de Uso de Datos explica cómo procesamos su información dentro de la plataforma.</p>

                <h3>Tipos de Datos Recopilados</h3>

                <p>Recopilamos los siguientes tipos de datos personales:</p>

                <ul>
                    <li>Correo Electrónico: Para la gestión de su cuenta.</li>
                    <li>Nombre: Para mostrar su identidad en la plataforma.</li>
                    <li>Imágenes: Imágenes que comparte en la plataforma.</li>
                </ul>

                <h3>Uso de los Datos</h3>

                <p>Utilizamos sus datos para:</p>

                <ul>
                    <li>Facilitar su acceso y uso de la plataforma.</li>
                    <li>Mostrar su nombre e imágenes en la red social.</li>
                    <li>Proporcionar una experiencia de usuario personalizada.</li>
                </ul>

                <h3>Seguridad de los Datos</h3>

                <p>Los datos se almacenan en una base de datos en la nube y están protegidos con medidas de seguridad avanzadas, incluidas contraseñas encriptadas.</p>

                <h3>Compartición de Datos</h3>

                <p>Solo compartimos su nombre e imágenes dentro de la plataforma. No compartimos su correo electrónico ni otros datos sensibles con terceros fuera de la plataforma.</p>

                <h3>Derechos del Usuario</h3>

                <p>Puede acceder y modificar sus datos personales en cualquier momento a través de su cuenta en la plataforma. Si desea eliminar sus datos o su cuenta, puede contactarnos en SendaDigitalTFG&#64;gmail.com.</p>

                <h3>Cookies</h3>
                <p>La plataforma utiliza cookies del navegador para mejorar la funcionalidad y la experiencia del usuario.</p>

                <h3>Cambios en la Política de Uso de Datos</h3>

                <p>Podemos actualizar esta Política de Uso de Datos de vez en cuando. Se le informará de cualquier cambio significativo a través de un correo electrónico.</p>

                <h3>Contacto</h3>

                <p>Si tiene preguntas o inquietudes sobre esta Política de Uso de Datos, puede contactarnos en SendaDigitalTFG&#64;gmail.com.</p>

                <h3>Jurisdicción</h3>
                <p>Esta política se rige por las leyes de España.</p>
            }
        </div>
    </div>
</section>