.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 80%;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .follow-btn {
    margin-left: auto;

    background: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    border: 1px solid black;
    padding: 1% 2%;
    cursor: pointer;
    transition: 0.5s;
    width: 10vw;
  }

  .follow-btn:hover {
    background-color: #D1E7A8;
    transition: 0.5s;
  }

  .red:hover {
    background-color: #a15353;
    transition: 0.5s;
  }

  img, span {
    cursor: pointer;
  }
  
  .close-btn {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-btn:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none; /* Quita las viñetas */
  }

  li {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}