<nav>
    <div class="logotipo">
        <a routerLink="myFeed" class="logo">
            <img src="../../assets/images/localizador-de-mapas.png" alt="Logotipo">
        </a>
        <a routerLink="myFeed" class="title-logo">
            <h1 class="title">{{title.toUpperCase()}}</h1>
            <p class="slogan">Comparte rutas con otros senderistas</p>
        </a>
    </div>
    <ul class="menu">
        <!--
        <app-buscador></app-buscador>
        -->
        <!--
        <div class="buscador">
            <img class="lupa" src="../../assets/images/lupa.png">
            <div class="buscador">
                <p>Buscar caminos . . .</p>
            </div>
        </div>
        -->
        <li><a routerLink="myFeed">HOME</a></li>
        @if (isAuthenticated()) {
            <li><a routerLink="nuevaRuta">AÑADIR NUEVA RUTA</a></li>
            <li>
                <a [routerLink]="['/perfil', idPerfil]">
                    <img class="perfil" src="{{photo}}">
                </a>
            </li>
        }
        @else {
            <li>
                <a routerLink="acceso">INICIAR SESIÓN</a>
            </li>
            <li>
                <a routerLink="registro">REGISTRARSE</a>
            </li>
        }
    </ul>
</nav>