<nav>
    <div class="logotipo" [class.opacity-0]="isMenuOpen">
        <a routerLink="myFeed" class="logo">
            <img src="../../assets/images/localizador-de-mapas.png" alt="Logotipo">
        </a>
        <a routerLink="myFeed" class="title-logo">
            <h1 class="title">{{title.toUpperCase()}}</h1>
            <p class="slogan">Comparte rutas con otros senderistas</p>
        </a>
    </div>

    <div class="hamburger" (click)="toggleMenu()">
        @if (!isMenuOpen) {
            <img src="../../assets/images/hamburguesa.png" alt="Menú" class="open-menu" />
        }
        @else {
            <img src="../../assets/images/x.png" alt="Cerrar" class="close-menu" />        
        }
    </div>

    <ul class="menu" [class.menu-open]="isMenuOpen">
        <li><a routerLink="myFeed">HOME</a></li>
        @if (isAuthenticated()) {
            <li><a routerLink="nuevaRuta">AÑADIR NUEVA RUTA</a></li>
            <li>
                <a [routerLink]="['/perfil', idPerfil]">
                    <img class="perfil" src="{{photo}}">
                </a>
            </li>
        }
        @else {
            <li>
                <a routerLink="acceso">INICIAR SESIÓN</a>
            </li>
            <li>
                <a routerLink="registro">REGISTRARSE</a>
            </li>
        }
    </ul>
</nav>