<section>
    <div id="main-info">
        <h2>{{dataMap['name']}}</h2>
        <p class="hide-info">Ubicación: {{dataMap['ubication']}}</p>
        <p class="hide-info">Km: {{dataMap['km']}}</p>
    </div>
    <div class="seccion">
        <div id="map-grafica">
            <app-map [file]="'./assets/'+routeJSON['gpx']" 
                     [dataMap]="dataMap" 
                     [gpxData]="gpxData" 
                     [type]="0" 
                     [pointHovered]="pointHovered"
                     (dataMapOut)="receiveDataMap($event)" 
                     (elevationProfileOut)="receiveElevationProfile($event)" id="map">
            </app-map>
            <app-grafica id="grafica" [elevationProfile]="elevationProfile" (pointHovered)="onPointHovered($event)"></app-grafica>
        </div>
        <div id="image-primaria">
            <img src="../../assets/images/WhatsApp Image 2024-04-16 at 16.38.44.jpeg" alt="Logotipo">
        </div>
    </div>
    <div id="main-info">
        <h2>TABLA ESTADÍSTICA</h2>
        <p class="hide-info">{{dataMap['name']}}</p>
    </div>
    <div class="seccion tabla" id="tabla-seccion">
        <div class="column">
            <div class="column">
                @if (dataMap['km'] != -1) {
                    <p class="statistics">KM: {{dataMap['km']}}</p>
                }
            </div>
            <div class="column">
                @if (dataMap['minAltitude'] != -1) {
                    <p class="statistics">Altitud mínima: {{dataMap['minAltitude']}} metros</p>
                }
            </div>
            <div class="column">
                @if (dataMap['des_neg'] != -1) {
                    <p class="statistics">Desnivel negativo: {{dataMap['des_neg']}} metros</p>
                }
            </div>
        </div>
        <div class="column">
            <div class="column">
                @if (dataMap['speed'] != -1) {
                    <p class="statistics">Velocidad: {{dataMap['speed']}} km/h</p>
                }
            </div>
            <div class="column">
                @if (dataMap['maxAltitude'] != -1) {
                    <p class="statistics">Altitud máxima: {{dataMap['maxAltitude']}} metros</p>
                }
            </div>
            <div class="column">
                @if (dataMap['des_pos'] != -1) {
                    <p class="statistics">Desnivel positivo: {{dataMap['des_pos']}} metros</p>
                }
            </div>
        </div>
    </div>
</section>