<section>
    <div id="main-info">
        <h2 (click)="setSiguiendo(true)" [class.bold]="siguiendo">Siguiendo</h2>
        <h2 (click)="setSiguiendo(false)" [class.bold]="!siguiendo">Explorar</h2>
    </div>

    @if (siguiendo) {
        @for (dato of dataMap; track dato['id']) {
            <div id="usuario">
                <div id="perfilUsuario">
                    <a routerLink="">
                        <img class="perfil" src="../../assets/images/92938495.jpeg">
                    </a>
                    <h3><a routerLink="">{{user.toUpperCase()}}</a></h3>
                </div>

                <div id="ruta">
                    <div id='datos-texto'>
                        <a [routerLink]="['/ruta',dato['id']]" (click)="scrollToTop()">{{ dato['name'] }}</a>
                        <p>{{ dato['ubication'] }}</p>
                        <p>{{ dato['km'] }} km</p>
                    </div>
                    <div id="image-primaria">
                        <img src="../../assets/images/WhatsApp Image 2024-04-16 at 16.38.44.jpeg" alt="Logotipo">
                    </div>
                </div>
            </div>
        } @empty {
            <div id="ruta">
                <div id='datos-texto'>
                    <p>¡No existen rutas entre tus seguidores!</p>
                </div>
            </div>
        }
    }
    @else {
        <app-map id="map" [type]="1" [routes]="dataMap"></app-map>
    }
</section>